.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

Buildozer/.buildozer/*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

Test/.buildozer/
Test/android-ndk-r23b-linux/
Test/android-ndk-r25b-linux/
Test/bin/
Test/commandlinetools-linux-8512546_latest/
Test/*.zip


# Local History for Visual Studio Code
.history/
# Built Visual Studio Code Extensions
*.vsix

*コピー.*

*.pyc
Project/Test/*.png

houchi_auto_ikusei/tmp/*.png
Project/AutoClick/desktop.ini
Project/AutoClick/Images/image_information/*.png
Project/AutoClick/Images/Test/*.png
Project/AutoClick/Log/houchi.json
Project/AutoClick/Log/mementomori.json
Project/AutoClick/Log/log*.txt
Project/AutoClick/Log/test_auto.json
Project/AutoClick/Test/*.png
Project/AutoClick/Test/works.png
Project/AutoClick/Test/stamp.png
Project/AutoClick/Sources/Views/pdf_files/*.pdf
Project/AutoClick/Sources/Views/dist/*.notanexecutable
Project/AutoClick/Sources/*Test*.json
Project/AutoClick/Sources/*.xml
Project/AutoClick/Sources/__pycache__/
Project/AutoClick/Sources/Common/__pycache__/
Project/AutoClick/Sources/Test/*.png
Project/AutoClick/Sources/Test/Kivy_paint_expansion-master/*.png

Project/AutoClick/Sources/old/
Project/AutoClick/Sources/Test/Kivy_paint_expansion-master/
Project/AutoClick/Sources/Test/Kivy_paint_expansion-master/*.kv
Project/AutoClick/Sources/Models/tmp/pre_status0.png
Project/AutoClick/Sources/Models/tmp/pre_status1.png
Project/AutoClick/Sources/Models/tmp/pre_status2.png
Project/AutoClick/Sources/Models/tmp/pre_status3.png
Project/AutoClick/Sources/Models/tmp/screen_1.png
Project/AutoClick/Sources/Models/tmp/status0.png
Project/AutoClick/Sources/Models/tmp/status1.png
Project/AutoClick/Sources/Models/tmp/status2.png
Project/AutoClick/Sources/Models/tmp/status3.png
Project/AutoClick/Sources/Models/*級*.bat
Project/AutoClick/Sources/Models/*_backup.py
Project/AutoClick/Sources/Models/*_old.py
Project/AutoClick/Images/image**/**.png
Project/AutoClick/Log/log_*.json
Project/AutoClick/Images/mementomori/*.png
Project/AutoClick/Images/*.png
Project/AutoClick/Sources/Common/test/Image*.png
Project/AutoClick/Log/log.json
Project/AutoClick/Log/log*.json
Project/AutoClick/Images/*
Project/AutoClick/Log/*.log
Project/AutoClick/Sources/Common/Recognition_old.py
Project/AutoClick/Sources/.vscode/launch.json
build/temp.linux-x86_64-cpython-311/test.o
test.cpython-311-x86_64-linux-gnu.so
libffi-3.4.2/*

libffi-3.4.2.tar.gz
.buildozer/*
